[submodule "DayzAnimationTools"]
	path = DayzAnimationTools
	url = https://github.com/Mrtea101/DayzAnimationTools.git

[submodule "Research/ANM-TXA"]
	path = Research/ANM-TXA
	url = https://github.com/sysrover/ANM-TXA.git

[submodule "Research/DayzAnimationTools"]
	path = Research/DayzAnimationTools
	url = https://github.com/Mrtea101/DayzAnimationTools.git

[submodule "Research/rollback_backups/pre_branch_restore_20260711_1718/DayzAnimationTools"]
	path = Research/rollback_backups/pre_branch_restore_20260711_1718/DayzAnimationTools
	url = https://github.com/Mrtea101/DayzAnimationTools.git

[submodule "Research/rollback_backups/pre_branch_restore_20260711_1718/installed_blender_addons/DayzAnimationTools"]
	path = Research/rollback_backups/pre_branch_restore_20260711_1718/installed_blender_addons/DayzAnimationTools
	url = https://github.com/Mrtea101/DayzAnimationTools.git
